<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_before">
        <observer name="customer_save_before_observer" instance="FCheckout\CpfCnpj\Observer\CustomerRegisterBefore" />
    </event> 
    <event name="sales_order_place_before">
        <observer name="sales_order_save_before_order_cpf_cnpj" instance="FCheckout\CpfCnpj\Observer\SalesOrderPlaceBefore" />
    </event> 
    <event name="customer_save_after">
        <observer name="customer_save_after_observer" instance="FCheckout\CpfCnpj\Observer\CustomerData" />
    </event>       
</config>