<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="totalchargeback" frontName="totalchargeback">
            <module name="Clearsale_Total" />
        </route>
        <route id="statusupdate" frontName="statusupdate">
            <module name="Clearsale_Total" />
        </route>
    </router>
</config>