<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="admin_order_create_user" instance="Commshop\Adminorder\Observer\SaveAdminUserOnOrder" />
    </event>
    <event name="sales_order_save_after">
        <observer name="sync_admin_order_to_grid" instance="Commshop\Adminorder\Observer\SyncOrderToGrid" />
    </event>

</config>
