.osc .step-title,
.osc #opc-sidebar .opc-block-summary>.title {
    padding: 8px 8px 8px 40px;
    position: relative;
    font-weight: normal;
    color: #787878;
    border-bottom: 1px #c7c7c7 solid;
    text-transform: uppercase;
}

.groupe-col {
    border: 0px;
}

.opc-block-summary .table-totals {
    border-top: none;
}

@media (min-width: 993px) {
    .groupe-col {
        float: left;
        width: 33.33% !important;
    }

    .col-1 .col,
    .col-2 .col {
        padding: 0px 10px 0px 0px;
    }

    .authentication-wrapper {
        width: 30%;
        padding: 1%;
    }
}