<?xml version="1.0"?>
<!--
/**
 * @author      Mestre Magento
 * @copyright   2018 MestreMage (https://mestremage.com.br)
 * @license     https://mestremage.com.br Copyright
 *
 * @link        https://mestremage.com.br/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mestremage" sortOrder="999" translate="label" class="mestre-magento-tab">
            <label>mestremage</label>
        </tab>
        <section id="filter_by" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Sorte by</label>
            <tab>mestremage</tab>
            <resource>MestreMage_Sortby::config</resource>
            <group id="configuracao" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Configuração</label>
                <field id="habilitado" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Habilitado</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="filter_config" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Filtros</label>
                <field id="high_to_low" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
                    <label>Maior Preço</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="low_to_high" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="select">
                    <label>Menor Preço</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="high_to_new" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="select">
                    <label>Mais novos</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="discount_summary" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="select">
                    <label>Maior Desconto</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_by_best_seller" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label" type="select">
                    <label>Mais Vendidos</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
