<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="clearsale_total" frontName="clearsale_total">
            <module name="Clearsale_Total" />
        </route>
    </router>
</config>